@import 'settings.colors';

.base {
  position: relative;
  composes: btn-normalized from 'App/style/components';
  padding: 12px;
  max-width: 300px;
  width: 100%;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 1em;
}

  .iconCopy {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .navy {
    composes: base;

    background-color: var(--clr-navy);
  }

  .facebook {
    composes: base;

    background-color: var(--clr-facebook-blue);
  }

  .twitter {
    composes: base;

    background-color: var(--clr-twitter-blue);
  }

  .rust {
    composes: base;

    background-color: var(--clr-rust);
  }

.icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.copy {
  white-space: nowrap;
}
