@import 'settings.colors';

.Footer {
  width: 100%;
  height: 80px;
  color: var(--clr-darkest-grey);

  display: flex;
  align-items: center;
  justify-content: center;
}

  .Footer-navy {
    composes: Footer;

    background-color: var(--clr-navy);
    color: #fff;
  }

  .Footer a, .Footer-navy a {
    color: inherit;
  }
