@import 'settings.colors';

:root {
  --spacing: 32px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  background-color: var(--clr-rust);
  padding: var(--spacing) 8px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden; /* hides overflowing sides of TrumpConnection */
}

  .main > *:not(:last-child) {
    margin-bottom: var(--spacing);
  }

  .main > h2 {
    text-align: center;
    font-size: 36px;
    color: white;
  }

.explainer {
  background: var(--clr-cream);
  width: 100%;
  padding: var(--spacing);

  display: flex;
  flex-direction: column;
  align-items: center;
}

  .explainer > *:not(:last-child) {
    margin-bottom: var(--spacing);
    max-width: 600px;
  }

  .explainer > h2 {
    text-align: center;
    font-size: 36px;
  }

  .buttonsWrapper {
    display: flex;
    justify-content: center;
  }

    @media (width <= 512px) {
      .buttonsWrapper {
        flex-direction: column;
      }
    }

    .buttonsWrapper > * {
      margin: 4px;
    }
