@import 'settings.colors';

:root {
  --circle-size: 200px;
  --circle-degree-size: 100px;
  --circle-degree-overlap: 36px;
}

.wrapper {
  padding-bottom: calc(var(--circle-degree-size) - var(--circle-degree-overlap));
  display: flex;
  align-items: center;
}

  .wrapper > * {
    z-index: 2;
  }

  .circleWrapper {
    position: relative;
    z-index: 1;
    margin: 0 -64px;
    width: var(--circle-size);
  }

    .circle {
      width: 100%;
    }

    .degreeWrapper {
      position: absolute;
      top: calc(var(--circle-size) - var(--circle-degree-overlap));
      left: 50%;
      margin-left: -50px;
      border-radius: 50%;
      border: 2px solid white;
      background: var(--clr-cyan);
      width: var(--circle-degree-size);
      height: var(--circle-degree-size);

      display: flex;
      align-items: center;
      justify-content: center;
    }

      .degree {
        font-size: 50px;
        font-weight: bold;
        color: white;
      }
