@import 'settings.colors';

.root {
  min-height: 100%;
  background-color: var(--clr-cream);
}

.container {
  max-width: 320px;
  width: 100%;
}

.center {
  margin: 0 auto;
}

.header {
  text-align: center;
}

.banner {
  padding: 18px 0;
}

.h1 {
  color: var(--clr-navy);
}

.tree {
  composes: container;
  composes: center;
  padding: 20px 5px;
}

.nodeWrapper:hover {
  cursor: pointer;
}

.footer {
  composes: container;
  composes: center;
  text-align: center;
}