@import 'settings.colors';

.root {
  min-height: 100%;
  background-color: var(--clr-cream);
}

.container {
  max-width: 320px;
  width: 100%;
}

.center {
  margin: 0 auto;
}

.header {
  text-align: center;
}

.banner {
  padding: 18px 0;
}

.heading {
  color: var(--clr-navy);
}

.tree {
  width: 100%;
  composes: container;
  composes: center;
  padding: 20px 5px;
}

.tree > *:not(:first-child) {
  margin-top: 20px;
}


.nodeWrapper:hover {
  cursor: pointer;
}

.footer {
  composes: container;
  composes: center;
  padding: 4px;
  text-align: center;
}

.footer > * {
  margin: 8px 0;
}