@import 'settings.colors';

.input {
  composes: input-normalized from 'App/style/components';
  border: solid 1px var(--clr-darker-grey);
  border-radius: 7px;
  outline: none;
  padding: 8px;
}

.error {
  composes: input;
  border: solid 1px var(--clr-red);
}