@import "settings.global";
@import "settings.colors";
@import "settings.typography";

@import "generic.reset";
@import "generic.normalize";
@import "generic.box-sizing";

html {
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--base-font-family);
  text-rendering: optimizeLegibility;

  overflow-y: scroll;
}

html,
body,
#app {
  height: 100%;
  font-family: arial;
  color: var(--clr-darkest-grey);
}

a {
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--header-font-weight);
  margin: 0;
  padding: 0;
}